# Project dependencies
client/.cache
client/node_modules
server/node_modules
client/yarn-error.log

# Build directory
client/public
.DS_Store
server/credentials.json
server/token.json
client/package-lock.json
