.Footer {
  background: #734e96;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.Footer .footer-content {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
}

.Footer .footer-content a {
  text-decoration: none;
}

.Footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.Footer .penseGrande {
  transform: translateY(-10px);
}

.Footer .label {
  color: #fff;
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.Footer img {
  max-width: 80px;
}

.wrapper .peneira {
  max-width: 150px;
}

@media (min-width: 980px) {
  .Footer .label {
    color: #fff;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
  }
}
