.PoetaForm {
  padding: 0 5vw;
}

label {
  font-size: 14px;
  color: #7b7b7c;
  display: block;
}

.agreement-input,
.agreement {
  display: inline-block;
}

.agreement-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.agreement-input {
  margin-right: 5px;
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

.PoetaForm .success {
  text-align: center;
  font-size: 16px;
  margin: auto;
}

.required {
  color: #ff5151;
}

input {
  margin-bottom: 20px;
  display: block;
  min-height: 25px;
  width: 100%;
  border: 1px solid #d0d1d3;
}
