html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.MainForm {
  background: url(../assets/images/background.jpg) repeat-y center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Louis George';
}

@font-face {
  font-family: 'Louis George';
  src: url('../assets/fonts/louis_george_cafe_bold-webfont.woff2')
      format('woff2'),
    url('../assets/fonts/louis_george_cafe_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Louis George';
  src: url('../assets/fonts/louis_george_cafe-webfont.woff2') format('woff2'),
    url('../assets/fonts/louis_george_cafe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
